@import '../variables.scss';

.chart-container {
  padding: 0 20px;
  background-color: $background;
}

.card, .MuiPaper-root, .MuiCard-root {
  background-color: $cardBackground !important;
  margin: 15px 0;
  padding: 10px 10px;
}

.card-content {
  background-color: $cardBackground;
}

.card-title {
  color: $primaryColor;
}

.card-subtitle {
  color: $secondaryColor;
}
