/* Colors */
/*$cardBackground: #121318;*/
$mainColor: #2196f3;
/*$primaryColor: #F1948A;
$secondaryColor: #F2D7D5;*/

$background: #000000;
$cardBackground: #1d1f21;
$primaryColor: #bf5769;
$secondaryColor: #c17885;
$slider: #bdbdbd;
