/* Colors */
/*$cardBackground: #121318;*/
/*$mainColor: #2196f3;*/
/*$primaryColor: #F1948A;
$secondaryColor: #F2D7D5;*/
/*$primaryColor: #bf5769;*/
/*$secondaryColor: #c17885;*/

$background: #000000;
$cardBackground: #1d1f21;
$primaryColor: #35d8d0;
$secondaryColor: #8eb9b7;

/* Slider */
$sliderSecondary: #426361;
